<ons-page  ng-controller="topController as top">
  <div class="top_box">
  <div class="top_box1">
    <div class="top_box2">
      <div class="title">
        <img src="images/title.png" class="img_title">
      </div>
    </div>
    <div class="top_box3" ng-click="top.gamebtn()">
       <img src="images/gamebtn.png" class="top_btn">
    </div>
    <div class="top_box4"></div>
    <div class="top_box5" ng-click="top.lessonbtn()">
      <img src="images/lessonbtn.png" class="top_btn">
    </div>
  </div>
     <div class="top_box6">
    <img src="images/copyright.png" class="Cmark">
  </div>
  </div>
  </ons-page>   